.cart-wrapper {
  max-width: 1440px;
  width: 100%;
  height: auto;
  padding: 0 8%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
