.cart-item-attributes-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
}

.cart-item-attribute-name {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 8px 0;
}

.cart-unselected-size {
  width: 63px;
  height: 45px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  cursor: auto;
  margin-right: 8px;
  border: 1px solid #a6a6a6;
  color: #919191d5;
}

.cart-item-color-size-wrapper {
  width: 32px;
  height: 32px;
  margin-right: 7px;
}

.cart-selected-size {
  width: 63px;
  height: 45px;
  text-align: center;
  border: 1px solid black;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 40px;
  margin-right: 8px;
  color: #fff;
  background-color: #000;
}

.cart-selected-color-wrapper {
  position: absolute;
  top: -2px;
  width: 36px;
  height: 36px;
  border: 1px solid #5ece7b;
  margin-left: -2px;
}

.cart-selected-color {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 1px solid #000;
  margin: 1px;
}

.cart-unselected-color {
  width: 32px;
  height: 32px;
  border: 1px solid #000;
  margin-right: 8px;
  filter: opacity(30%);
}
