.swiper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 45%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000;
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-prev::after {
  content: url("../../../assets/images/cart/arrow.svg");
  position: absolute;
  top: 2px;
  left: 5px;
  width: 5px;
  height: 10px;
}

.swiper-button-next::after {
  content: url("../../../assets/images/cart/arrow.svg");
  position: absolute;
  transform: rotate(180deg);
  top: 8px;
  right: 5px;
  width: 5px;
  height: 10px;
}
