.preview-img-wrapper {
  width: 8%;
  height: 511px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.homelink {
  width: 110px;
  display: inline-block;
  margin: 100px 8% 0;
  cursor: pointer;
  transition: 0.2s ease-in;
  content: "";
}

.homelink::before {
  display: inline-block;
  content: url("../../assets/images/header/arrow.svg");
  transform: rotate(90deg);
  margin-right: 10px;
  width: 10px;
  height: 20px;
}

.preview-img {
  margin-bottom: 30px;
  margin-right: 100px;
}

.preview-img::after {
  content: url("../../assets/images/product-card/broken-img.svg");
}

.product-info {
  max-width: 90%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  filter: inherit;
}

.product-img-wrapper {
  max-width: 380px;
  margin-right: 100px;
}

.product-img {
  display: block;
  width: 380px;
}

.product-details {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 16px;
}

.product-brief-description {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 43px;
}

.product-sizes-title {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.available-sizes-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.available-items-wrapper {
  display: flex;
}

.size {
  width: 63px;
  height: 45px;
  line-height: 40px;
  border: 1px solid #1d1f22;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  margin: 0 12px 40px 0;
}

.selected-size {
  width: 63px;
  height: 45px;
  line-height: 40px;
  border: 1px solid #1d1f22;
  background-color: #1d1f22;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  margin: 0 12px 40px 0;
}

.selected-color {
  width: 63px;
  height: 45px;
  line-height: 40px;
  border: 1px solid #1d1f22;
  color: #fa0000;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  margin: 0 12px 40px 0;
  content: "";
}

.selected-color::after {
  content: "Selected";
}

.disabled-size {
  width: 63px;
  height: 45px;
  line-height: 40px;
  border: 1px solid #000;
  background-color: #4d474780;
  color: #000;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0 12px 40px 0;
  cursor: not-allowed;
}

.disabled-color {
  width: 63px;
  height: 45px;
  line-height: 40px;
  border: 1px solid #000;
  background-color: #4d474780;
  color: #000;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0 12px 40px 0;
  cursor: not-allowed;
  filter: brightness(0.4);
}

.product-price-title {
  display: block;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.product-price {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.prod-page-add-btn {
  width: 292px;
  height: 52px;
  padding: 16px;
  text-align: center;
  background-color: #5ece7b;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
}

.unavailable-add-btn {
  width: 292px;
  height: 52px;
  padding: 16px;
  text-align: center;
  border: none;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
  background-color: #5c615d;
  cursor: not-allowed;
}

.product-description {
  display: block;
  max-width: 100%;
  font-family: Roboto, sans-serif;
  line-height: calc(0.6em + 1.3vmin);
  font-size: calc(0.2em + 1.3vmin);
  font-weight: 400;
}

.btn-toolkit-wrapper {
  position: relative;
}

.tooltiptext-prod-page {
  visibility: hidden;
  width: 120px;
  background-color: #5c615d;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  bottom: 43px;
  right: -54px;
  transition: all 0.3s ease-in-out;
}

.btn-toolkit-wrapper:hover .tooltiptext-prod-page {
  visibility: visible;
}
