.product-page-content-wrapper {
  max-width: 1440px;
  margin-top: 40px;
  display: flex;
  padding-bottom: 50px;
}

.preview-img-wrapper {
  width: 8%;
  height: 511px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.homelink {
  width: 110px;
  display: inline-block;
  margin-top: 100px;
  cursor: pointer;
  transition: 0.2s ease-in;
  content: "";
}

.homelink::before {
  display: inline-block;
  content: url("../../assets/images/header/arrow.svg");
  transform: rotate(90deg);
  margin-right: 10px;
  width: 10px;
  height: 20px;
}

.preview-img {
  margin-bottom: 30px;
}

.preview-img::after {
  content: url("../../assets/images/product-card/broken-img.svg");
}

.product-info {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  filter: inherit;
}

.product-img-wrapper {
  max-height: 600px;
  max-width: 650px;
  margin-right: 100px;
}

.product-img {
  height: 100%;
  width: 600px;
}

.product-details {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 16px;
}

.product-brief-description {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 43px;
}

.product-sizes-title {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.available-sizes-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.available-items-wrapper {
  display: flex;
}

.size {
  width: 63px;
  height: 45px;
  line-height: 40px;
  border: 1px solid #1d1f22;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  margin: 0 12px 40px 0;
}

.selected-size {
  width: 63px;
  height: 45px;
  line-height: 40px;
  border: 1px solid #1d1f22;
  background-color: #1d1f22;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  margin: 0 12px 40px 0;
}

.selected-color {
  position: relative;
  width: 63px;
  height: 45px;
  line-height: 40px;
  border: 1px solid #1d1f22;
  color: #fa0000;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  margin: 0 12px 40px 0;
  content: "";
}

.selected-color::after {
  position: absolute;
  top: 7px;
  left: 16px;
  content: url("../../assets/images/cart/selected_30x30.png");
}

.product-price-title {
  display: block;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.product-price {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.prod-page-add-btn {
  width: 292px;
  height: 52px;
  padding: 16px;
  text-align: center;
  background-color: #5ece7b;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
}

.unavailable-add-btn {
  width: 292px;
  height: 52px;
  padding: 16px;
  text-align: center;
  border: none;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
  background-color: #5c615d;
  cursor: not-allowed;
}

.product-description {
  display: block;
  max-width: 100%;
  font-family: Roboto, sans-serif;
  line-height: calc(0.6em + 1.3vmin);
  font-size: calc(0.2em + 1.3vmin);
  font-weight: 400;
}
