.product-card-wrapper {
  position: relative;
  max-width: 350px;
  width: 350px;
  height: 460px;
  padding: 10px;
  cursor: pointer;
  margin: 30px 25px 50px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.product-card-wrapper-blur {
  position: relative;
  max-width: 350px;
  width: 350px;
  height: 460px;
  padding: 10px;
  cursor: pointer;
  margin: 30px 25px 50px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  background-color: #fff9;
}

.product-card-wrapper img:nth-child(1) {
  margin: 0 auto;
  height: 356px;
  max-width: 338px;
  width: auto;
}

.product-card-name {
  margin-top: 30px;
  display: block;
  font-weight: 300;
}

.product-card-price {
  margin-top: 5px;
  display: block;
  font-weight: 500;
}

.product-card-wrapper:hover,
.product-card-wrapper-blur:hover {
  box-shadow: 0 0 20px #00000098;
}

.add-to-cart-btn,
.remove-from-cart-btn {
  position: absolute;
  top: 338px;
  right: 30px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #5ece7b;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.remove-from-cart-btn {
  opacity: 1;
}

.add-to-cart-btn:hover,
.remove-from-cart-btn:hover {
  background-color: #399150;
}

.add-to-cart-btn:active,
.remove-from-cart-btn:active {
  background-color: #399150;
}

.add-to-cart-btn::after,
.add-to-cart-unavailable::after {
  position: absolute;
  width: 25px;
  height: 16px;
  content: url("../../assets/images/product-card/card.svg");
  transform: translate(50%, 100%);
}

.remove-from-cart-btn::after {
  position: absolute;
  top: -1px;
  left: -20px;
  width: 0;
  height: 0;
  content: url("../../assets/images/product-card/delete-from-cart.svg");
  transform: translate(50%, 100%);
}

.product-card-wrapper:hover .add-to-cart-btn,
.product-card-wrapper:hover .remove-from-cart-btn {
  opacity: 1;
}

.add-to-cart-unavailable {
  position: absolute;
  top: 338px;
  right: 30px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #5c615d;
  transition: 0.3s ease-in-out;
  opacity: 1;
  cursor: not-allowed;
}

.out-label {
  width: 80px;
  background-color: #5c615d;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: 80px;
  right: -12px;
  z-index: 1;
  transition: 0.3s ease-in-out;
  cursor: default;
  font-size: 12px;
}
