.cart-mini-wrapper {
  position: absolute;
  top: 80px;
  right: 270px;
  width: 20%;
  height: auto;
  max-height: 656px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 8px 16px 20px;
  overflow-y: scroll;
  z-index: 2;
  border: 1px solid #000;
  scrollbar-color: #5ece7b #0003;
  scrollbar-width: thin;
}

.cart-mini-wrapper::-webkit-scrollbar {
  width: 3px;
  background-color: #f9f9fd;
}

.cart-mini-wrapper::-webkit-scrollbar-thumb {
  background-color: #5ece7b;
}

.cart-mini-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #0003;
  background-color: #f9f9fd;
}

.cart-mini-item-wrapper {
  width: 100%;
  height: auto;
  margin: 25px 0 0;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid #191f1a;
}

.item-description-price-size-wrapper {
  width: 100%;
}

.item-description-price-size-wrapper span {
  width: 100%;
}

.cart-mini-title {
  font-weight: 400;
}

.close-btn {
  width: 20px;
  height: 20px;
  content: url("../../assets/images/cart/close-icon.svg");
  cursor: pointer;
}

.cart-mini-item-description {
  display: inline-block;
  font-weight: 300;
  margin-bottom: 5px;
}

.cart-mini-item-price {
  font-weight: 500;
  margin-bottom: 16px;
}

.cart-mini-sizes-wrapper {
  font-weight: 400;
}

.item-attributes-wrapper {
  height: 24px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.item-attribute-name {
  font-size: 14px;
  font-weight: 400;
  margin: 8px 0;
}

.cart-mini-unselected-size,
.counter-btn {
  width: 24px;
  height: 24px;
  text-align: center;
  border: 1px solid black;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.item-color-size-wrapper {
  width: 24px;
  height: 24px;
  margin-right: 7px;
}

.cart-mini-unselected-size {
  cursor: auto;
  margin-right: 8px;
  border: 1px solid #a6a6a6;
  color: #919191d5;
}

.cart-mini-selected-size {
  width: 24px;
  height: 24px;
  text-align: center;
  border: 1px solid black;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-right: 8px;
  color: #fff;
  background-color: #000;
}

.cart-mini-selected-color-wrapper {
  position: absolute;
  top: -2px;
  width: 28px;
  height: 28px;
  border: 1px solid #5ece7b;
  margin-left: -2px;
}

.cart-mini-selected-color {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid #000;
  margin: 1px;
}

.cart-mini-unselected-color {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  margin-right: 7px;
  filter: opacity(30%);
}

.remove-item-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -0;
  content: url("../../assets/images/product-card/delete-from-cart-black.svg");
  cursor: pointer;
  z-index: 1;
  background-color: #fff;
}

.item-counter-img-wrapper {
  position: relative;
  width: 76%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-counter-img-wrapper div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.row-wrapper {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.total-price-title {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.total-price-value {
  font-weight: 700;
}

.bts-wrapper {
  height: 45px;
  width: 100%;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.view-bag-btn,
.check-out-btn,
.check-out-btn-disabled {
  height: 45px;
  width: 47%;
  font-weight: 600;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.view-bag-btn {
  border: 1px solid black;
  background-color: #fff;
}

.view-bag-btn:hover {
  background-color: #ffffff21;
}

.check-out-btn {
  border: none;
  color: #fff;
  background-color: #5ece7b;
}

.check-out-btn-disabled {
  border: none;
  color: #fff;
  background-color: #a6a6a6;
  cursor: not-allowed;
}

.check-out-btn:hover {
  background-color: #399150;
}
