.hidden {
  display: none;
}

.cart-mini-wrapper {
  position: absolute;
  top: 80px;
  right: 0;
  width: 30%;
  height: auto;
  max-height: 656px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 8px 16px 20px;
  overflow-y: scroll;
  z-index: 2;
  border: 1px solid #000;
}

.cart-mini-item-wrapper {
  width: 100%;
  height: auto;
  margin: 25px 0 0;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid #191f1a;
}

.item-description-price-size-wrapper {
  width: 100%;
}

.item-description-price-size-wrapper span {
  width: 100%;
}

.cart-mini-title {
  font-weight: 400;
}

.close-btn {
  width: 20px;
  height: 20px;
  content: url("../../assets/images/cart/close-icon.svg");
  cursor: pointer;
}

.item-description {
  display: inline-block;
  font-weight: 300;
  margin-bottom: 5px;
}

.item-item-price {
  font-weight: 300;
}

.item-color-size,
.counter-btn {
  width: 24px;
  height: 24px;
  display: block;
  text-align: center;
  border: 1px solid black;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.item-color-size {
  margin: 30px 8px 0 0;
}

.item-counter-img-wrapper {
  width: 76%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-counter-img-wrapper div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.row-wrapper {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.total-price-title {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.total-price-value {
  font-weight: 700;
}

.bts-wrapper {
  height: 45px;
  width: 100%;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.view-bag-btn,
.check-out-btn {
  height: 45px;
  width: 47%;
  font-weight: 600;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.view-bag-btn {
  border: 1px solid black;
  background-color: #fff;
}

.view-bag-btn:hover {
  background-color: #ffffff21;
}

.check-out-btn {
  border: none;
  color: #fff;
  background-color: #5ece7b;
}

.check-out-btn:hover {
  background-color: #399150;
}
