.header-wrapper {
  width: 100vw;
  height: 80px;
  padding: 0 15%;
  margin: 0 auto;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper > div:nth-child(1) {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-wrapper > div:nth-child(3) {
  position: relative;
  width: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: calc(0.4em + 1.3vmin);
  cursor: pointer;
  margin-right: 15px;
  color: inherit;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in;
}

nav:hover {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
}

.logo {
  content: url("../../assets/images/header/logo.svg");
  width: 31px;
  height: 31px;
  cursor: pointer;
}

.cart-icon-wrapper {
  content: "0";
  position: relative;
  cursor: pointer;
  width: 20px;
}

.cart-icon {
  display: block;
  content: url("../../assets/images/header/cart.svg");
}

.cart-icon-total {
  position: absolute;
  top: -3px;
  right: -12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1d1f22;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}
