.header-wrapper {
  width: 100vw;
  height: 80px;
  padding: 0 15%;
  margin: 0 auto;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper > div:nth-child(1) {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-wrapper > div:nth-child(3) {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: calc(0.4em + 1.3vmin);
  cursor: pointer;
}

.header-wrapper nav:nth-child(1),
.header-wrapper nav:nth-child(2),
.header-wrapper nav:nth-child(3) {
  color: inherit;
  margin-right: 5%;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in;
}

.header-wrapper nav:nth-child(1):hover,
.header-wrapper nav:nth-child(2):hover,
.header-wrapper nav:nth-child(3):hover {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
}

.logo {
  content: url("../../assets/images/header/logo.svg");
  width: 31px;
  height: 31px;
  cursor: pointer;
}

.header-wrapper select {
  display: inline-block;
  height: 100%;
  margin-right: 20px;
  border: none;
  background-color: #fff;
  width: 60px;
  font-size: calc(0.4em + 1.3vmin);
}

.cart-icon-wrapper {
  content: "0";
  position: relative;
  cursor: pointer;
  width: 20px;
}

.cart-icon {
  display: block;
  content: url("../../assets/images/header/cart.svg");
}

.cart-icon-total {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1d1f22;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}
