@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Raleway-Light.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold 700.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Raleway-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular\ 400.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SourceSansPro-Regular.400.ttf") format("truetype");
}
