@import "./fonts.css";
@import "../../components/AttributeSelect/attribute-select.css";
@import "../../components/Cart/styles/cart.css";
@import "../../components/Cart/styles/cart-attributes.css";
@import "../../components/Cart/styles/swiper.css";
@import "../../components/CartMini/cart-mini.css";
@import "../../components/Category/category.css";
@import "../../components/Header/header.css";
@import "../../components/Loader/loader.css";
@import "../../components/PageNotFound/page-not-found.css";
@import "../../components/ProductCard/product-card.css";
@import "../../components/ProductPage/product-page.css";
@import "../../components/HeaderCurrencySwitcher/header-currency-swither.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  width: 100vw;
  font-family: Raleway, sans-serif;
}

img {
  display: block;
  object-fit: scale-down;
}

input,
button,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  background-color: #fff;
  margin: 0 auto;
}
