*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  width: 100vw;
  font-family: Raleway, sans-serif;
}

img {
  display: block;
  object-fit: scale-down;
}

input,
button,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  background-color: #fff;
  margin: 0 auto;
}
